.con{
    margin-top: 180px;
    
}
.box{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
}
p{
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 700; 
}
.btn1,.btn2,.btn3{
    background-color: #F69D39;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 35px;
    border: 1px solid #F69D39;
    border-radius: 20px;
    transition: box-shadow 0.15s;
    cursor: pointer;
}
.btn1:hover,.btn2:hover,.btn3:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
    background-color: #FF6A1C;
}
